$onyx: #121212;
$rifle-green: #3E3E3E;
$taupe-gray: #8C8C8C;
$gray: #BEBEBE;
$platinum: #E5E5E5;
$white-smoke: #F7F7F7;
$jasper: #CA453E;
$tomato: #FB544C;
$light-salmon-pink: #FE9D98;
$goldenrod: #CF9A24;
$saffron: #FFBE2F;
$jasmine: #FFD881;
$north-texas-green: #158B44;
$medium-sea-green: #23C062;
$medium-aquamarine: #71D99A;